/* univeral styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lora", serif;
}
/* navigation bar styles */
nav {
  background-color: black;
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 3px;
}

.rocky-logo {
  color: white;
  float: left;
  font-size: 1.9rem;
  padding: 15px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  float: right;
  /* text-align: center; */
  color: white;
  padding: 1rem;
  /* margin-top: 0.2rem; */
}
.nav-bar li {
  display: inline;
}
li:last-child {
  margin-right: 5rem;
}
.nav-links:link,
.nav-links:visited {
  font-size: 1.4rem;
  color: white;
  padding: 1rem 1.5rem;
  letter-spacing: 0.5px;
  text-underline-offset: 0.2rem;
  text-decoration: none;
  display: inline;
}
.nav-links:hover {
  text-decoration: underline;
}

/* header  styles*/

.header-decoration {
  height: 400px;
  width: 100%;
  z-index: -1;
  background-color: #f0f0f0;
  position: absolute;
}

header {
  /* display: block; */
  /* background-color: #90cbebdc; */
  padding-top: 5rem;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
.header-quote {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-family: "Lobster", cursive;
  font-weight: 400;
}
.header-subTitle {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: "Lora";
  font-weight: 600;
}
.mainPic {
  padding-top: 0.75rem;
  border-radius: 0.3rem;
  height: 400px;
  width: 600px;
}

/* main article / univeral styles*/

.main-section-width {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
}
article {
  padding: 2rem 1rem 3rem 2rem;
  padding-bottom: 40px;
  margin-bottom: 70px;
  border-left: solid #1a5f85ca 0.5rem;
  /* background-color: #ececec; */
  padding-left: 30px;
  background-color: #f0f0f0;
}

p,
strong {
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-bottom: 1.5rem;
}
p a {
  font-size: 1.3rem;
  color: #15587cca;
  text-decoration: none;
}
p a:hover {
  color: #1a5f85ca;
  text-decoration: underline;
}

h3 {
  font-size: 2rem;
  font-family: "Lora", serif;
  padding: 1.2rem;
}
.article-title {
  padding-left: 3rem;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
/* images in main article */

.float-right {
  float: right;
  /* border: 1px solid black; */
  margin: 1rem;
  /* position: relative;
    bottom: 2rem; */
}
.float-left {
  float: left;
  /* border: 1px solid black; */
  margin: 1.5rem;
}
.img-1,
.img-2 {
  height: 250px;
  width: 400px;
}
figcaption {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}
/* .margin {
    margin-top: 80px;
  } */
#img-div {
  text-align: center;
  margin: 1.5rem;
}
#image {
  display: block;
  /* height: 400px;
    width: 600px; */
  max-width: 50%;
  max-height: auto;
  margin: auto;
}
@media (max-width: 900px) {
  #image {
    height: 300px;
    width: 400px;
  }
}

.montage-vid {
  float: right;
  margin: 1.5rem;
}

/* author credit  */
.author-credit {
  margin-top: 3.5rem;
  text-align: center;
}

.author-credit em {
  text-transform: uppercase;
  font-weight: 700;
}

/* timeline article */

.timeline-container {
  width: 60%;
  margin: auto;
}

/* .timeline {
    margin-left: 15rem; 
     width: 60%; 
  } */
.timeline li,
li strong {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  /* padding-bottom: 1.5rem; */
}

/* quotes article */

.quote-container {
  width: 60%;
  margin: auto;
}

.quote {
  background-color: white;
  padding: 1.5rem;
}
.quote-author {
  margin-top: 1.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 1rem;
}
/* footer */

footer {
  background-color: black;
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.footer-p {
  color: white;
}

footer a {
  color: white;
  text-decoration: underline;
}
footer a:hover {
  text-decoration: none;
  color: white;
  text-underline-offset: 0.5rem;
}

/* misc */

.edit {
  margin-top: 2rem;
}
